{% extends 'base.html' %}

{% block title %}
Inicio|Futbol Mundial
{% endblock %}

{% block content %}
<div class="contenido">
    <h2 class="textoprincipal">
        ¡Bienvenidos al apasionante mundo del fútbol mundial! Este blog es tu lugar de encuentro para estar al tanto de las últimas noticias, emocionantes partidos, jugadores destacados y todo lo relacionado con el deporte más popular del planeta. Prepárate para sumergirte en un océano de pasión, rivalidades y goles espectaculares mientras exploramos juntos el fascinante universo del fútbol a nivel global. ¡Disfruta de la lectura y únete a la conversación futbolera!
    </h2>
</div>
{% endblock %}